pre {
    text-align: center;
    font-family: Georgia;
    color: black;
    font-size: 80%;
}
p {
    font-family: 'Franklin Gothic Medium';
    text-indent: 1em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}
toc {
    margin-left: 10px;
    margin-bottom: 1em;
}
h1 {
    text-align: center;
    font-size: 80px;
    color: #9C2F00;
}
h2, h3, h4, h5, h6 {
    color: #9C2F00;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
body {
    background-color: #F8ECC2;
    font-family: Helvetica;
    text-align: justify;
    margin: 5%;
}
img {
    height: 30%;
    width: 30%;
    border-radius: 10%;
    margin-left: auto;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
}